Repository mbogner/telegram-bot, changes with the labels that .github/labeler.yml gives for each.
All labels: legal, docs, projectconfig, gradle-wrapper, gradle, modules, modules-common, modules-common-test, modules-api, modules-updater

Create gradle.yml
  .github/workflows/gradle.yml
Labels: none

Create detekt.yml
  .github/workflows/detekt.yml
Labels: none

github configs
  .github/workflows/detekt.yml
Labels: none

github configs
  .github/workflows/detekt.yml
Labels: none

fix detekt
  .github/workflows/detekt.yml
Labels: none

fix detekt
  .github/workflows/detekt.yml
Labels: none

fix detekt
  .github/workflows/detekt.yml
Labels: none

fix detekt
  bot/build.gradle.kts
  bot/src/main/kotlin/dev/mbo/telegrambot/TelegramBotApplication.kt
  bot/src/main/resources/META-INF/additional-spring-configuration-metadata.json
  bot/src/main/resources/application.yml
  bot/src/test/http/messages.http
  bot/src/test/kotlin/dev/mbo/telegrambot/TelegramBotApplicationTests.kt
  bot/src/test/resources/application-disabled-updater.yml
  modules/api/build.gradle.kts
  modules/api/src/main/kotlin/dev/mbo/telegrambot/api/MessageApiDelegateImpl.kt
  modules/api/src/main/kotlin/dev/mbo/telegrambot/api/MessagesApiServiceImpl.kt
  modules/api/src/main/kotlin/dev/mbo/telegrambot/validation/CustomLocalValidatorFactoryBean.kt
  modules/api/src/main/kotlin/dev/mbo/telegrambot/validation/SuspendAwareKotlinParameterNameDiscoverer.kt
  modules/api/src/main/kotlin/dev/mbo/telegrambot/validation/ValidationConfiguration.kt
  modules/api/src/main/openapi/parts/messages.yaml
  modules/api/src/main/openapi/parts/shared-pagination.yaml
  modules/api/src/main/openapi/parts/shared-parameters.yaml
  modules/api/src/main/openapi/parts/shared-security.yaml
  modules/api/src/main/openapi/templates/README.md
  modules/common-test/build.gradle.kts
  modules/common/build.gradle.kts
  modules/updater/build.gradle.kts
Labels: modules, modules-common, modules-common-test, modules-api, modules-updater

tests require @Autowired
  bot/src/test/kotlin/dev/mbo/telegrambot/TelegramBotApplicationTests.kt
Labels: none

fix some issues with detekt
  modules/updater/src/main/kotlin/dev/mbo/telegrambot/updater/TelegramUpdater.kt
  modules/updater/src/main/kotlin/dev/mbo/telegrambot/updater/TelegramUpdaterConfig.kt
  modules/updater/src/main/kotlin/dev/mbo/telegrambot/updater/TelegramUpdaterWorker.kt
Labels: modules

default implementation/test feign
  build.gradle.kts
  modules/api/src/main/openapi/parts/messages.yaml
  modules/api/src/main/openapi/telegram-bot.yaml
  modules/clients/client-common/build.gradle.kts
  modules/clients/client-common/src/main/kotlin/dev/mbo/telegrambot/client/FeignConfig.kt
  modules/clients/client-common/src/main/kotlin/dev/mbo/telegrambot/client/retry/NoRetryer.kt
  modules/clients/client-common/src/main/kotlin/dev/mbo/telegrambot/client/retry/RetryDisabledException.kt
  modules/clients/client-common/src/test/kotlin/dev/mbo/telegrambot/client/FeignTestApp.kt
  modules/clients/client-common/src/test/kotlin/dev/mbo/telegrambot/client/GenderizeIOApi.kt
  modules/clients/client-common/src/test/kotlin/dev/mbo/telegrambot/client/GenderizeIOApiFeignClient.kt
  modules/clients/client-common/src/test/kotlin/dev/mbo/telegrambot/client/GenderizeIOApiRequestInterceptor.kt
  modules/clients/client-common/src/test/kotlin/dev/mbo/telegrambot/client/GenderizeIOApiTest.kt
  modules/clients/client-common/src/test/kotlin/dev/mbo/telegrambot/client/GenderizeIOGender.kt
  modules/clients/client-common/src/test/kotlin/dev/mbo/telegrambot/client/GenderizeIOResponse.kt
  modules/clients/client-common/src/test/resources/application.yaml
Labels: gradle, modules, modules-common, modules-common-test, modules-api, modules-updater

missing method
  modules/api/src/main/kotlin/dev/mbo/telegrambot/api/MessagesApiServiceImpl.kt
Labels: modules, modules-common, modules-common-test, modules-api, modules-updater

prepare telegram client
  bot/build.gradle.kts
  build.gradle.kts
  gradle.properties
  modules/api/build.gradle.kts
  modules/api/src/main/openapi/spec-api.yaml
  modules/clients/client-common/build.gradle.kts
  modules/clients/telegram/build.gradle.kts
  modules/clients/telegram/src/main/kotlin/dev/mbo/telegrambot/client/telegram/TelegramClientConfig.kt
  modules/clients/telegram/src/main/openapi/spec-client-telegram.yaml
  modules/clients/telegram/src/main/openapi/templates/README.md
Labels: gradle, modules, modules-common, modules-common-test, modules-api, modules-updater

use env file
  .gitignore
  .run/TelegramBotApplication.run.xml
  bot/src/main/resources/application.yml
  modules/clients/telegram/src/main/kotlin/dev/mbo/telegrambot/client/telegram/TelegramClientConfig.kt
  modules/updater/build.gradle.kts
Labels: projectconfig, modules

fix build and false positive for telegram token
  bot/src/main/resources/application.yml
  bot/src/test/resources/application.yml
  modules/clients/telegram/build.gradle.kts
  modules/clients/telegram/src/main/kotlin/dev/mbo/telegrambot/client/telegram/TelegramClientConfig.kt
  modules/clients/telegram/src/main/openapi/spec-client-telegram.yaml
Labels: modules

let's make openfeign work with generated code - abusing the server generator for changing some templates instead of creating a new generator
  modules/clients/telegram/build.gradle.kts
  modules/clients/telegram/src/main/openapi/spec-client-telegram.yaml
  modules/clients/telegram/src/main/openapi/templates/README.md
  modules/clients/telegram/src/main/openapi/templates/apiController.mustache
  modules/clients/telegram/src/main/openapi/templates/apiDelegate.mustache
  modules/clients/telegram/src/main/openapi/templates/apiInterface.mustache
  modules/clients/telegram/src/main/openapi/templates/apiUtil.mustache
  modules/clients/telegram/src/main/openapi/templates/libraries/spring-boot/springBootApplication.mustache
Labels: modules

prepare for client and get rid of stored runners
  .run/TelegramBotApplication.run.xml
  .run/Tests in 'telegram-bot.bot.test'.run.xml
  .run/messages _ GET _messages.run.xml
  .run/telegram-bot [cleanOpenApiFile].run.xml
  .run/telegram-bot [mergeOpenApiFiles].run.xml
  .run/telegram-bot_modules_api [openApiGenerate].run.xml
  modules/clients/telegram/src/main/kotlin/dev/mbo/telegrambot/client/telegram/TelegramClientConfig.kt
  modules/clients/telegram/src/test/kotlin/dev/mbo/telegrambot/client/telegram/TelegramClientApp.kt
  modules/clients/telegram/src/test/kotlin/dev/mbo/telegrambot/client/telegram/TelegramClientTest.kt
  modules/clients/telegram/src/test/resources/application.yaml
Labels: modules

have the update access getMe
  bot/src/main/kotlin/dev/mbo/telegrambot/TelegramBotApplication.kt
  bot/src/main/resources/application.yml
  modules/clients/client-common/src/main/kotlin/dev/mbo/telegrambot/client/FeignConfig.kt
  modules/clients/telegram/src/main/kotlin/dev/mbo/telegrambot/client/telegram/EnableTelegramClient.kt
  modules/updater/src/main/kotlin/dev/mbo/telegrambot/updater/TelegramUpdaterWorker.kt
Labels: modules

fix build
  modules/api/build.gradle.kts
  modules/clients/telegram/build.gradle.kts
Labels: modules, modules-common, modules-common-test, modules-api, modules-updater

receive with long polling and worker for bodies
  bot/src/main/resources/application.yml
  bot/src/test/resources/application.yml
  modules/clients/telegram/src/main/openapi/spec-client-telegram.yaml
  modules/updater/src/main/kotlin/dev/mbo/telegrambot/updater/GetUpdateResponseDtoWorker.kt
  modules/updater/src/main/kotlin/dev/mbo/telegrambot/updater/TelegramUpdaterWorker.kt
Labels: modules

add link
  README.md
Labels: docs

add link
  README.md
Labels: docs

add mite client and restructure updater
  bot/build.gradle.kts
  bot/src/main/kotlin/dev/mbo/telegrambot/TelegramBotApplication.kt
  bot/src/main/kotlin/dev/mbo/telegrambot/config/AsyncConfig.kt
  bot/src/main/resources/application.yml
  bot/src/test/resources/application.yml
  build.gradle.kts
  gradle.properties
  modules/clients/client-common/src/main/openapi/templates/README.md
  modules/clients/client-common/src/main/openapi/templates/apiController.mustache
  modules/clients/client-common/src/main/openapi/templates/apiDelegate.mustache
  modules/clients/client-common/src/main/openapi/templates/apiInterface.mustache
  modules/clients/client-common/src/main/openapi/templates/apiUtil.mustache
  modules/clients/client-common/src/main/openapi/templates/libraries/spring-boot/springBootApplication.mustache
  modules/clients/mite/build.gradle.kts
  modules/clients/mite/src/main/kotlin/dev/mbo/telegrambot/client/mite/EnableMiteClient.kt
  modules/clients/mite/src/main/kotlin/dev/mbo/telegrambot/client/mite/MiteClientConfig.kt
  modules/clients/mite/src/main/openapi/spec-client-mite.yaml
  modules/clients/telegram/src/test/kotlin/dev/mbo/telegrambot/client/telegram/TelegramClientTest.kt
  modules/updater/src/main/kotlin/dev/mbo/telegrambot/updater/TelegramUpdaterClient.kt
  modules/updater/src/main/kotlin/dev/mbo/telegrambot/updater/TelegramUpdaterQueueAppender.kt
  modules/updater/src/main/kotlin/dev/mbo/telegrambot/updater/config/QueueConfig.kt
  settings.gradle.kts
Labels: gradle, modules

tests for clients
  modules/clients/mite/src/test/kotlin/dev/mbo/telegrambot/client/mite/MiteClientApp.kt
  modules/clients/mite/src/test/kotlin/dev/mbo/telegrambot/client/mite/MiteClientTest.kt
  modules/clients/mite/src/test/resources/application.yaml
Labels: modules

Create FUNDING.yml
  .github/FUNDING.yml
Labels: none

get rid of mite and fix bot
  bot/build.gradle.kts
  bot/src/main/kotlin/dev/mbo/telegrambot/TelegramBotApplication.kt
  modules/clients/mite/build.gradle.kts
  modules/clients/mite/src/main/kotlin/dev/mbo/telegrambot/client/mite/EnableMiteClient.kt
  modules/clients/mite/src/main/kotlin/dev/mbo/telegrambot/client/mite/MiteClientConfig.kt
  modules/clients/mite/src/main/openapi/spec-client-mite.yaml
  modules/clients/mite/src/test/kotlin/dev/mbo/telegrambot/client/mite/MiteClientApp.kt
  modules/clients/mite/src/test/kotlin/dev/mbo/telegrambot/client/mite/MiteClientTest.kt
  modules/clients/mite/src/test/resources/application.yaml
  settings.gradle.kts
Labels: gradle, modules

ignore shutdown exc
  modules/updater/src/main/kotlin/dev/mbo/telegrambot/updater/TelegramUpdaterClient.kt
Labels: modules

.github/labeler.yml:

legal:
  - LICENSE.txt
  - CODE_OF_CONDUCT.md
  - CONTRIBUTING.md
docs:
  - README.md
  - SECURITY.md
  - docs/**/*
projectconfig:
  - .editorconfig
  - .github
  - .run
  - .gitignore
  - .foldableview
gradle-wrapper:
  - .gradle/**/*
  - gradlew
  - gradlew.bat
gradle:
  - build.gradle.kts
  - gradle.properties
  - settings.gradle.kts

modules: modules/**/*
modules-common: modules/api/**/*
modules-common-test: modules/api/**/*
modules-api: modules/api/**/*
modules-updater: modules/api/**/*
